language: ruby
rvm:
  - 2.4.0
  - 2.3.3
  - 2.2.6
  - 2.1.10
env:
  - "RAILS_VERSION=5.0.0"
  - "RAILS_VERSION=4.2.8"
  - "RAILS_VERSION=4.2.0"
  - "RAILS_VERSION=4.1.0"
  - "RAILS_VERSION=4.0.0"
  - "RAILS_VERSION=3.2.0"
branches:
  only:
    - master
    - travis

matrix:
  exclude:
    - rvm: 2.1.10
      env: "RAILS_VERSION=5.0.0"
    - rvm: 2.4.0
      env: "RAILS_VERSION=4.2.0"
    - rvm: 2.4.0
      env: "RAILS_VERSION=4.1.0"
    - rvm: 2.4.0
      env: "RAILS_VERSION=4.0.0"
    - rvm: 2.4.0
      env: "RAILS_VERSION=3.2.0"
